body {
	background: linear-gradient(90deg, #1a1a1a, #222, #333);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.playlist img {
	height: 50px;
	border-radius: 5px;
}

.song-item > img {
	height: 50px;
	border-radius: 5px;
}

.song-item {
	height: 50px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 10px;
	background-color: #444;
	border-radius: 5px;
	padding: 10px;
}

#songs-in-playlist {
	display: flex;
	flex-direction: column;
}

.item-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

#navbar {
	/* position: relative; */
	/* top: 0; */
	width: 75%;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	background-color: #333;
}

#player-controls{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#main-app {
	width: 75%;
	overflow-y: scroll;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}
#engine-handler {
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
	scrollbar-width: none;
	margin-bottom: 50px;
}

.nav-item {
	display: flex;
	flex-direction: row;
	background-color: #222;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

.item {
	background-color: #444;
	border-radius: 5px;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}

.item-list-item {
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin: 10px;
	background-color: #333;
	border-radius: 5px;
	padding: 10px;
}

.item:not(.expanded-view) {
	display: none;
} 

#playing-view {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;	
	background-color: #333;
	padding: 10px;
	justify-content: space-evenly;
}

#progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: max-content;
}

button {
	background-color: #444;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

.downloaded {
	display: none;
}